* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 100px;
    width: 100%;
    background-color: #1F2937;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font: 18px;
    color: #e5e7eb;
}

nav h1 {
    font-size: 24px;
    color: #F9faf8;
}

section {
    height: 100%;
    padding: 0 200px;
}

.links {
    display: flex;
    gap: 20px;
}

#intro {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 100px;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 10px;
    padding: 20px;
    
}

.text img {
    width: 100%;
}

.text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9faf8;
}

.text p {
    color: #e5e7eb;
    font-size: 18px;
}

.text button {
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #F9faf8;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 50px;
}

#pictures h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.images {
    display: flex;
    gap: 20px;
}

.images img {
    width: 200px;
    height: 200px;
    border: solid #3882f6;
    border-radius: 10px;
}

.images legend {
    text-align: center;
}

#quote {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote-text {
    display: flex;
    flex-direction: column;
    text-align: end;
    max-width: 500px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    color: #1F2937;
}

#sign {
    display: flex;
    padding: 100px 150px;
}

.sign-container {
    background-color: #3882f6;
    border-radius: 10px;
    width: 100%;
    padding: 25px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-text {
    color: #e5e7eb;
}

.sign-container button {
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: #3882f6;
    border: solid #F9faf8;
    border-radius: 8px;
    color: #F9faf8;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
}